<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block header %}
        <h1>Welcome to the sepyrot interface !</h1>
    {% endblock %}

    {% block content %}
        <form method="post"}>
            <label for="encode_form">Clear text here</label><br>
            <input type="text" id="encode_form" name="encode_form" value="{{ request.form['encode_form'] }}"><br>
            <button id="encode">Encode</button>
        </form>
    {% endblock %}
</body>
</html>